*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
nav .navbar-brand{
    font-size: 2vw!important;
}

.sec1{
    height: 90vh;
    width: 100vw;
    background-image: url(img/bg-masthead.jpg);
    background-size: 100% 100% ;
    background-color: gray;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    color: whitesmoke;
}

.sec1 h1{
    font-family: 'Varela Round', sans-serif;
    font-size: 8vw!important;
    opacity: 60%;
    letter-spacing: 6px;
}

.sec1 p{
    font-size: 1.5vw!important;
}
.sec1 a{
    background-color: #629e9c;
    height: auto;
    width: auto!important;
    margin-top: 4%!important;
    font-size: 2vw!important;
    border-radius: 2px;
}

.sec1 .gradient-container{
    height: auto;
    background: linear-gradient(black,rgb(99, 98, 98));
}

.sec1 .gradient-container h1{
    font-family: 'Varela Round', sans-serif;
    font-size: 7vh;
}

.sec1 .gradient-container p{
    display: block;
    width: 70%;
    margin: auto;
}

.sec1 .gradient-container img{
    height: 40vh;
    width: 70vw;
}