*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.sec1{
    height: 90vh;
    background-image: url(img/bg-masthead.jpg);
    background-size: cover;
    background-color: gray;
    background-blend-mode: multiply;
    color: whitesmoke;
}

.sec1 h1{
    font-family: 'Varela Round', sans-serif;
    font-size: 10vh;
}

.sec1 a{
    background-color: teal;
    width: 10vw!important;
    font-size: 2vh;
}